body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Corinthia', cursive;
  font-size: 80px;
  /* line-height: 2; */
}

h2 {
  font-family: 'Play', sans-serif;
  font-size: 2.5rem;
  color: #310B0B;
  font-weight: normal;
}

h3 {
  color: #310B0B;
}

a {
  color: #310B0B;
  font-weight: bold;
}
/************NavBar*************/

.main {
  margin-top: 30px;
}


/************Container*************/
.top-container {
  background-color: #FABCF3;
  padding-top: 60px;
  position: relative;
}

.middle-container {
  padding-bottom: 2rem;
}

.bottom-container {
  background-color: #FABCF3;
  padding-top: 2rem;
}

/************First Part*************/
.first-page-h2 {
  margin-top: 5px;
  color: black;
}

.first-page-h1 {
  font-weight: 900;
  margin-bottom: 2px;
}

.dev {
  text-decoration: underline;
}

/************Images*************/
.profile-picture {
  max-height: 200px;
  margin-top: 2rem;
}

.heart {
  position: absolute;
  bottom: 250px;
  left: 280px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.moon {
  position: absolute;
  right: 250px;
  top: 80px;
  border-radius: 50%;
}

.mountain {
  width: 40%;
  height: auto;
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.teacher-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}
/*****************PROFILE SECTION**************/
.hello{
  display: inline !important;
  position: absolute;
  left: 25rem;
  margin-top: 5rem;
}

.para-profile {
  max-width: 40rem;
  margin: 1rem auto;
}

/*****************SKILLS SECTION**************/
.skills {
  background-color: #FABCF3;
  padding-bottom: 1rem;

}

.h2-skills {
  margin-bottom: 0;
  padding-top: 1.8rem;
}

.skill-row{
  max-width: 40rem;
  margin: 5rem auto 0;
  text-align: left;

}

.h3-teaching {
  font-weight: bold;
  text-decoration: underline;
}
/*****************CONTACT ME**************/
.h2-contact-me{
  padding-top: 2rem;
  margin-bottom: 1rem;
  text-decoration: underline;
}



.btn {
  background: #FABCF3;
  background-image: -webkit-linear-gradient(top, #FABCF3, #c73bb7);
  background-image: -moz-linear-gradient(top, #FABCF3, #c73bb7);
  background-image: -ms-linear-gradient(top, #FABCF3, #c73bb7);
  background-image: -o-linear-gradient(top, #FABCF3, #c73bb7);
  background-image: linear-gradient(to bottom, #FABCF3, #c73bb7);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #310B0B;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #d19dcc;
  background-image: -webkit-linear-gradient(top, #d19dcc, #FABCF3);
  background-image: -moz-linear-gradient(top, #d19dcc, #FABCF3);
  background-image: -ms-linear-gradient(top, #d19dcc, #FABCF3);
  background-image: -o-linear-gradient(top, #d19dcc, #FABCF3);
  background-image: linear-gradient(to bottom, #d19dcc, #FABCF3);
  text-decoration: none;
}

/*****************CONTACT ME**************/
.footer-link{
  padding: 2rem;
}

/*****************Screen Media**************/
@media screen and (max-width: 1300px) {
  .moon{
    right: 2rem;
  }
  .heart{
    left: 2rem;
  }
  .hello{
    left: 15rem;
  }
}
